@import "../bower_components/furtive/scss/all";
@import "../node_modules/browser.css/scss/browser";

.a--no-decoration {
  text-decoration: none;
}

.browser-window {
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  height: auto;
}

.browser-window .content {
  border: thin solid $off-white;
  border-top: none;
  margin-bottom: -5px;
}

.browser-window .circles {
  margin: 0 11px;
}
