---
layout: default
---
<div class="grd">
  {% for theme in site.data.themes %}
    <div class="measure py2">
      <h3>
        <a class="a--no-decoration fnt--dark-gray" href="{{theme.demourl}}">{{theme.name}}</a> by
        <a class="a--no-decoration fnt--dark-gray" href="{{theme.author.url}}">{{theme.author.name}}</a>
      </h3>
      <p>{{theme.description}}</p>
      <p class="py1">
        <a class="btn btn--gray" href="{{theme.githuburl}}">Github</a>
        <a class="btn" href="{{theme.demourl}}">Demo</a>
      </p>
      {% include image_in_browser.html image=theme.image %}
    </div>
  {% endfor %}
</div>
